@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-purple: #7c3aed;
  --color-brand-indigo: #4f46e5;
  --color-brand-cyan: #06b6d4;
  --color-brand-blue: #3b82f6;
  --color-slate-950: #020617;

  --font-serif: "KoPub Batang", "Nanum Myeongjo", serif;
  --font-sans: "Pretendard", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 font-sans;
  }
}